.git
.gitignore
.cache
**/.cache
.venv
**/.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
.mypy_cache
.pytest_cache
.ruff_cache
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
.DS_Store
**/.DS_Store
artifacts
dist
build
*.egg-info
**/*.egg-info
node_modules
**/node_modules
integration-runner
